{% extends 'layout.html' %}

{% block title %}
    depart_add
{% endblock %}


{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 新建部门 </h3>
            </div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="departName">部门名称</label>
                        <input type="text" class="form-control" id="departName" name="departName"
                               placeholder="请输入部门名称">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        提 交
                    </button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}